extends ./layout/layout
append statics
	link(href="/static/page/index/index.css",rel="stylesheet")
block content
	#container
		h2 content block
append scripts
	script(src='/static/page/index/index.js')
	// doctype
			// html
// 	head
// 		meta(charset="utf-8")
// 		title #{'title'}
// 	body
// 		h1 #{title}
// 		#user #{name} &lt;#{email}&gt;
